
    <div class="banner15_component">
      <div class="banner15_inner-wrapper">
        <div class="banner15_marquee">
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_87fd733e-956a-986f-889b-20eb506eb1ab-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_87fd733e-956a-986f-889b-20eb506eb1b0-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_87fd733e-956a-986f-889b-20eb506eb1b5-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_87fd733e-956a-986f-889b-20eb506eb1ba-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_87fd733e-956a-986f-889b-20eb506eb1bf-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
        </div>
        <div class="banner15_marquee">
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_2b1cb854-e59b-7cd7-6cc2-517d3f8278a9-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_2b1cb854-e59b-7cd7-6cc2-517d3f8278ae-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_2b1cb854-e59b-7cd7-6cc2-517d3f8278b3-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_2b1cb854-e59b-7cd7-6cc2-517d3f8278b8-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
          <div class="banner15_heading-wrapper hide-tablet">
            <div class="heading-style-h1 sigurd">{{ section.settings.marquee_text_italic }}</div>
            <div id="w-node-_2b1cb854-e59b-7cd7-6cc2-517d3f8278bd-506eb1a4" class="heading-style-h1 greedstandard">{{ section.settings.marquee_text_plain }}</div>
          </div>
        </div>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("data-w-id","87fd733e-956a-986f-889b-20eb506eb1a4");currentSection.setAttribute("class","section_banner15 in-o-nas onas-d");</script>
        
{% schema %}
{
  "name": "custom_marquee",
  "tag": "section",
  "class": "section_banner15 in-o-nas onas-d",
  "settings": [
    {
      "type": "text",
      "id": "marquee_text_italic",
      "label": "marquee-text-italic",
      "default": "Otevírací doba"
    },
    {
      "type": "text",
      "id": "marquee_text_plain",
      "label": "marquee-text-plain",
      "default": "Změna otevírací doby"
    }
  ]
}
{% endschema %}