{%- assign headerSnippetPath = "header-collectiondecor" -%}{%- assign wfPage = "6553844278afce9a45f2e6f0" -%}{%- assign bodyClasses = "" -%}
  {%- section 'custom_marquee' -%}
  {%- render 'navigation-1' -%}
  {%- if settings.collection_stolovn != blank -%}{%- render "markup_for_collection_stolovn" -%}{%- else -%}{%- render "produkty_where_category_idin_categorysklenice" -%}{%- endif -%}
  {%- if settings.collection_2_stolovn != blank -%}{%- render "markup_for_collection_2_stolovn" -%}{%- else -%}{%- render "produkty_where_category_idin_categorymisy_a_misky" -%}{%- endif -%}
  {%- if settings.collection_3_stolovn != blank -%}{%- render "markup_for_collection_3_stolovn" -%}{%- else -%}{%- render "produkty_where_category_idin_categorysety" -%}{%- endif -%}
  {%- if settings.collection_4_stolovn != blank -%}{%- render "markup_for_collection_4_stolovn" -%}{%- else -%}{%- render "produkty_where_category_idin_6569da4aacad352ef6bf9728" -%}{%- endif -%}
  <section class="hero-subpage">
    <div class="section-wrapper in-hero-subpage">
      <div class="text-wrapper display">
        <div class="link-page-wrapper in-pages">
          <a href="#" class="page-link w-inline-block">
            <div class="text-page-link">{{ 't64e1b1' | t }}</div>
          </a>
          <div class="link-page-text">{{ 'tn4e287476' | t }}</div>
        </div>
        <div class="subpage-hero-grid">
          <h1 id="w-node-_5a114aea-6856-488d-c023-45a853a7f205-45f2e6f0" class="heading h1 black">{{ 'tn2d5369c5' | t }}</h1>
          <div class="hero-text-paragraph in-category">{{ collection.description }}</div>
        </div>
      </div>
      <div class="categories-grid">
        <div id="w-node-ed9a07fb-a043-31d0-cad5-13781a2f334f-45f2e6f0" class="cateogory-item-wrapper" style="background-image: url('{{ collections['stolovani-sklenice'].image | img_url: '4096x4096', crop: 'center'}}');">
          <a href="/collections/stolovani-sklenice" class="kategory-link w-inline-block">
            <div class="text-flex">
              <div class="category-heading-text">{{ 'tn77b56f32' | t }}</div>
              <div class="div-block-11">
                <div class="category-heading-text">{{ 't28' | t }}</div>
                <div fs-countitems-element="value-1" class="category-heading-text">{{ collections['stolovani-sklenice'].all_products_count }}</div>
                <div class="category-heading-text">{{ 't29' | t }}</div>
              </div>
            </div>
          </a>
        </div>
        <div id="w-node-ed9a07fb-a043-31d0-cad5-13781a2f3365-45f2e6f0" class="cateogory-item-wrapper" style="background-image: url('{{ collections['stolovani-misy-a-misky'].image | img_url: '4096x4096', crop: 'center'}}');">
          <a href="/collections/stolovani-misy-a-misky" class="kategory-link w-inline-block">
            <div class="text-flex">
              <div class="category-heading-text">{{ 't3dad200c' | t }}</div>
              <div class="div-block-11">
                <div class="category-heading-text">{{ 't28' | t }}</div>
                <div fs-countitems-element="value-3" class="category-heading-text">{{ collections['stolovani-misy-a-misky'].all_products_count }}</div>
                <div class="category-heading-text">{{ 't29' | t }}</div>
              </div>
            </div>
          </a>
        </div>
        <div id="w-node-ed9a07fb-a043-31d0-cad5-13781a2f3370-45f2e6f0" class="cateogory-item-wrapper" style="background-image: url('{{ collections['stolovani-napojove-sety'].image | img_url: '4096x4096', crop: 'center'}}');">
          <a href="/collections/stolovani-napojove-sety" class="kategory-link w-inline-block">
            <div class="text-flex">
              <div class="category-heading-text">{{ 'tn2061c713' | t }}</div>
              <div class="div-block-11">
                <div class="category-heading-text">{{ 't28' | t }}</div>
                <div fs-countitems-element="value-4" class="category-heading-text">{{ collections['stolovani-napojove-sety'].all_products_count }}</div>
                <div class="category-heading-text">{{ 't29' | t }}</div>
              </div>
            </div>
          </a>
        </div>
        <div id="w-node-ed9a07fb-a043-31d0-cad5-13781a2f335a-45f2e6f0" class="cateogory-item-wrapper" style="background-image: url('{{ collections['stolovani-drobne-doplnky'].image | img_url: '4096x4096', crop: 'center'}}');">
          <a href="/collections/stolovani-drobne-doplnky" class="kategory-link w-inline-block">
            <div class="text-flex">
              <div class="category-heading-text">{{ 'tn2173db95' | t }}</div>
              <div class="div-block-11">
                <div class="category-heading-text">{{ 't28' | t }}</div>
                <div fs-countitems-element="value-2" class="category-heading-text">{{ collections['stolovani-drobne-doplnky'].all_products_count }}</div>
                <div class="category-heading-text">{{ 't29' | t }}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div fs-cmsload-element="scroll-anchor" class="divider in-decor">
    <div class="divider-line"></div>
  </div>
  <section class="product-sections">
    <div class="section-wrapper in-decor">
      <h2>{{ 'tn1a659f18' | t }}</h2>

<!-- Sorting -->
<div class="main-container">
  <div class="filtering">
    <form action="{{ collection.url }}" method="get" class="collection-sorting">
      <select id="sort-by" name="sort_by">
        <option value="manual" {% if collection.sort_by == 'manual' %}selected="selected"{% endif %}>Výchozí</option>
        <option value="created-ascending" {% if collection.sort_by == 'created-ascending' %}selected="selected"{% endif %}>Od nejstaršího</option>
        <option value="created-descending" {% if collection.sort_by == 'created-descending' %}selected="selected"{% endif %}>Od nejnovějšího</option>
        <option value="price-ascending" {% if collection.sort_by == 'price-ascending' %}selected="selected"{% endif %}>Cena od nejlevnějšího</option>
        <option value="price-descending" {% if collection.sort_by == 'price-descending' %}selected="selected"{% endif %}>Cena od nejdražšího</option>
      </select>
      <input type="submit" value="Sort">
    </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var select = document.getElementById('sort-by');

    select.addEventListener('change', function() {
      var form = document.querySelector('.collection-sorting');
      form.submit();
    });
  });
</script>
      
      <div class="filters5_layout jinak uplnejinak">
        <div class="filters5_feed-header-bottom">
          <div class="filters5_tags-wrapper">
            <div fs-cmsfilter-element="tag-template" class="filters5_tag">
              <div fs-cmsfilter-element="tag-text" class="text-block-6">{{ 't1477a' | t }}</div>
              <div fs-cmsfilter-element="tag-remove" class="filters5_close-icon w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.1266 16.773L16.7729 17.1266C16.5777 17.3218 16.2611 17.3218 16.0658 17.1266L12 13.0607L7.9341 17.1265C7.73888 17.3218 7.42229 17.3218 7.22702 17.1265L6.87347 16.773C6.6782 16.5777 6.6782 16.2612 6.87347 16.0659L10.9394 12L6.87347 7.93413C6.6782 7.73891 6.6782 7.42232 6.87347 7.22705L7.22702 6.8735C7.42228 6.67824 7.73888 6.67824 7.9341 6.8735L12 10.9394L16.0658 6.8735C16.2611 6.67824 16.5777 6.67824 16.7729 6.8735L17.1266 7.22705C17.3218 7.42231 17.3218 7.73891 17.1266 7.93413L13.0607 12L17.1266 16.0659C17.3218 16.2612 17.3218 16.5777 17.1266 16.773Z" fill="currentColor"></path>
                </svg></div>
            </div>
          </div>
        </div>
        <div class="filters5_feed-2">
          {%- render "produkty_archive_paginated_by_24_number_7" -%}
          <div fs-cmsfilter-element="empty" class="filters5_empty-2">
            <div class="margin-bottom margin-xxsmall">
              <div class="heading-style-h6">{{ 't315f75ff' | t }}</div>
            </div>
            <div class="text-block-8">{{ 'tn4c47e75c' | t }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%- section 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=65397d9f3766491d0cad2172" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript" defer></script>
  <style>
  body { -webkit-font-smoothing: antialiased; }
</style>
  <script>
document.querySelectorAll('[data-class="find-swatch"]').forEach(el => el.className = "color-swatch " + el.className);
</script>
  <script> document.addEventListener("DOMContentLoaded", function() {
    // Funkce pro zjištění aktuálního času a dne v týdnu uživatele
    function checkTimeAndDay() {
        // Získání aktuálního času uživatele
        var now = new Date();
        // Získání hodin a dnů
        var hour = now.getUTCHours() + 2; // Pro časovou zónu UTC+2 (Praha)
        var day = now.getUTCDay(); // 0-6, kde 0 je Neděle
        // Definice prvků podle class
        var openElement = document.querySelector('.open-time');
        var closedElement = document.querySelector('.closed-time');
        // Kontrola času a dne
        if (day >= 1 && day <= 5 && hour >= 12.5 && hour < 18) {
            // Pokud je otevřeno
            openElement.style.display = 'flex';
            closedElement.style.display = 'none';
        } else {
            // Pokud je zavřeno
            openElement.style.display = 'none';
            closedElement.style.display = 'flex';
        }
    }
    // Spuštění funkce při načtení stránky
    checkTimeAndDay();
    // Volitelně můžete pravidelně aktualizovat stav (např. každou minutu)
    setInterval(checkTimeAndDay, 60000);
});
</script>